x-default: &default
  restart: on-failure:50
  networks:
    - website

services:
  web:
    <<: *default
    image: ghcr.io/faxaq/{{product_name}}_web:{{app_version}}-{{env_name}}
    deploy:
      resources:
        limits:
          memory: 256m
    env_file: .env_web
    stop_grace_period: 60s

  server:
    <<: *default
    image: ghcr.io/faxaq/{{product_name}}_server:{{app_version}}-{{env_name}}
    deploy:
      resources:
        limits:
          memory: 256m
    env_file: .env_server
    stop_grace_period: 60s
