version: "3.8"

# The following variables define reusable configurations for deployment, providing consistent and predefined
# behaviors for updating, rolling back, and restarting services.

x-deploy-default: &deploy-default
  update_config:
    failure_action: rollback
    parallelism: 1
    delay: 10s
  rollback_config:
    parallelism: 1
    delay: 10s
  restart_policy:
    condition: on-failure
    window: 360s
    delay: 30s
    # Max 24hours
    max_attempts: 240

x-default: &default
  networks:
    - website

services:
  web:
    <<: *default
    image: ghcr.io/faxaq/{{product_name}}_web:{{app_version}}-{{env_name}}
    deploy:
      <<: *deploy-default
      resources:
        limits:
          memory: 256m
      replicas: 2
    env_file: .env_web
    stop_grace_period: 60s
    networks:
      - website-network

  server:
    <<: *default
    image: ghcr.io/faxaq/{{product_name}}_server:{{app_version}}-{{env_name}}
    deploy:
      <<: *deploy-default
      resources:
        limits:
          memory: 256m
      replicas: 2
    env_file: .env_server
    stop_grace_period: 60s
    networks:
      - website-network

networks:
  website-network:
    enable_ipv6: true
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
        - subnet: fd00:dead:beef::/80
