x-default: &default
  restart: on-failure:50
  networks:
    - website

services:
  web:
    <<: *default
    image: ghcr.io/faxaq/website_web:1.0.0-rc.1-production
    deploy:
      resources:
        limits:
          memory: 256m
    env_file: .env_web
    stop_grace_period: 60s

  server:
    <<: *default
    image: ghcr.io/faxaq/website_server:1.0.0-rc.1-production
    deploy:
      resources:
        limits:
          memory: 256m
    env_file: .env_server
    stop_grace_period: 60s
