#!/usr/bin/env bash
set -euo pipefail

{% if env_type == "preview" %}
  echo "Not supported in preview environnment"
  exit 0;
{% endif %}

readonly SERVER_NAME=${1:?"Missing server name parameter"};
shift

# Allow Nginx container to access challenge
mkdir -p /opt/app/system/certbot/www/.well-known/acme-challenge/
find /opt/app/system/certbot/www/ -type d -exec chmod 755 {} +

retries=3

set +e

while [ $retries -gt 0 ]; do
  docker run \
    -i \
    -v /opt/app/system/certbot/www/:/var/www/certbot/:rw \
    -v /opt/app/system/certbot/conf/:/etc/letsencrypt/:rw \
    --rm certbot/certbot:latest \
    certonly \
      --webroot --webroot-path /var/www/certbot/ \
      --email marin.procureur@gmail.com \
      --agree-tos \
      --non-interactive \
      --domain ${SERVER_NAME} \
      "$@"

  if [ $? -eq 0 ]; then
    break
  fi

  retries=$((retries - 1))

  if [ $retries -eq 0 ]; then
    echo "Failed to renew certificate"
    exit 1
  fi

  sleep 60
done

set -e

# Allow Nginx container to access certificates
chgrp -R www-data /opt/app/system/certbot/
find /opt/app/system/certbot/conf/ -type d -exec chmod 755 {} +
find /opt/app/system/certbot/conf/ -type f -exec chmod 644 {} +
