listen ${SSL_PORT} ssl;
http2 on;

ssl_session_timeout 4h;
ssl_session_cache shared:MozSSL:100m;
ssl_session_tickets off;

ssl_dhparam /etc/ssl/certs/dhparam-${PROXY_SSL_DH_BITS}.pem;

ssl_protocols ${PROXY_SSL_PROTOCOLS};
ssl_ciphers ${PROXY_SSL_CIPHERS};
ssl_prefer_server_ciphers ${PROXY_SSL_PREFER_CIPHERS};

ssl_stapling ${PROXY_SSL_OCSP_STAPLING};
ssl_stapling_verify ${PROXY_SSL_OCSP_STAPLING};

ssl_verify_client ${PROXY_SSL_VERIFY};
