[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
python-dotenv = "*"
alembic = "*"
psycopg2 = "*"
wtforms = "*"
email-validator = "*"
bcrypt = "*"
fastapi = {extras = ["standard"], version = "*"}
pydantic = "*"
pyjwt = "*"
asyncpg = "*"
python-jose = {extras = ["cryptography"], version = "*"}
greenlet = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
