x-default: &default
  restart: always
  networks:
    - website

services:
  reverse_proxy:
    <<: *default
    image: ghcr.io/faxaq/website_reverse_proxy:0.0.1
    deploy:
      resources:
        limits:
          memory: 1g
    ports:
      - "80:80"
      - "443:443"
    environment:
      - SERVER_NAME=norra.fr
      - MODSEC_REQ_BODY_LIMIT=1073741824
      - MODSEC_REQ_BODY_NOFILES_LIMIT=1073741824
      - MODSEC_RULE_ENGINE=On
      - DISALLOW_ROBOTS=true
    volumes:
      - /opt/app/system/certbot/conf/:/etc/nginx/ssl/:ro
      - /opt/app/system/certbot/www/:/var/www/certbot/:ro
      - /opt/app/configs/reverse_proxy/locations/:/etc/nginx/templates/locations/:ro
      - /opt/app/configs/reverse_proxy/system/:/etc/nginx/system/:ro
      - /opt/app/configs/reverse_proxy/extra-conf.d/:/etc/nginx/templates/extra-conf.d/:ro
      - /opt/app/configs/reverse_proxy/owasp-crs/:/etc/modsecurity.d/owasp-crs/rules/:ro
      - /opt/app/configs/reverse_proxy/extra-includes/:/etc/nginx/templates/extra-includes/:ro
      - /opt/app/system/nginx/:/var/log/nginx/:rw

networks:
  website:
    attachable: true
    enable_ipv6: true
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
        - subnet: fd00:dead:beef::/80
