.article {
  @apply pt-4;
  @apply pb-8;

  header {
    a {
      @apply no-underline;
      @apply text-4xl;
    }
  }

  .content {
    @apply text-mtts-dark-violet;
  }

  @apply mx-auto;
  @apply px-4;

  .article-info {
    @apply flex;
    @apply text-mtts-light-violet;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
    @apply font-mtts-title;
  }

  h2, h3, h4, h5, h6 {
    @apply mt-8 mb-4;
  }

  p, pre {
    @apply my-4;
  }

  h1 {
    @apply font-black;
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
    @apply mt-8 mb-4;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  a {
    @apply text-mtts-cta-0;
    @apply underline;
  }

  blockquote {
    @apply pl-6;
    @apply mx-4;
    @apply my-2;
    @apply italic;
    @apply relative;

    &::before {
      content: '';
      display: block;
      height: 100%;
      @apply w-2;
      @apply absolute;
      @apply bg-mtts-cta-4;
      @apply left-0;
    }
  }

  ul > li {
    &::before {
      content: '*';
      @apply mr-2;
    }

    > p {
      display: inline;
    }

    ul {
      @apply ml-4;
    }
  }

  img {
    @apply block;
    @apply w-auto;
    @apply border;
    @apply border-mtts-light-violet;
    border-radius: .2rem;
    @apply p-2;
    @apply mx-auto;
    @apply my-2;
  }
}