
.hexagon {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 104px;
  height: 60px;
  position: relative;

  &:after {
    position: absolute;
    bottom: -30px;
    border-top-color: inherit;
    border-top-width: 30px;
    border-top-style: solid;
  }

  &:before {
    border-color: inherit;
    border-bottom-color: inherit;
    border-bottom-width: 30px;
    border-bottom-style: solid;
    top: -30px;
  }

  &:before, &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
  }
}

.line {
  margin-top: -15px;
  &.odd-line {
    margin-left: -58px;
  }
}