name: CI

on:
  push:
    branches:
      - "master"
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_call:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "24"

      - name: Setup corepack
        run: corepack enable pnpm && corepack use pnpm@10.22.0

      - name: Install dependencies
        working-directory: ./web
        run: corepack pnpm install --frozen-lockfile

      - name: Run lint
        working-directory: ./web
        run: corepack pnpm lint

      - name: Run typecheck
        working-directory: ./web
        run: corepack pnpm typecheck
